<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCZCZ_899R_XdMtRIoDThvAR6_14Rg4cE</string>
	<key>GCM_SENDER_ID</key>
	<string>579421488878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fufuu</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-8a19c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-8a19c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579421488878:ios:5e5ed4331feb82f02a15ff</string>
</dict>
</plist>